<div class="container">
   <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
         <h2 class="text-center">Log in</h2>

			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="form-inputs">
					<%= f.input :email, autofocus: true, required: false, input_html: { class: 'form-control', placeholder: 'Email' } %>
					<br>
					<%= f.input :password, required: false, input_html: { class: 'form-control', placeholder: 'Password' } %>
					<br>
					<%= f.button :submit, "Log in", class: 'btn btn-secondary' %>
				</div>
			<% end %>
      </div>
   </div>
</div>